swagger: '2.0'
info:
  version: '1.0'
  title: Digital Content Engine API Documentation
  description: |
    <h3>Welcome to the Digital Content Engine (DCE)!</h3>

    The DCE is a Jahia content repository and RESTful API that delivers property and property-related information to a variety of consuming applications. As well, the DCE delivers content managed "structured" data.

    Calls are processed through Mashery. All endpoints are HTTPS only and are located at `https://api-qa.vistana.com` or `https://api.vistana.com`. All endpoint are subject to rate limiting rate limiting (by both queries per second and queries per day).

    ## Base URLs

    #### Production:
    ```
    BASE_URL: https://api.vistana.com/dcm/v3
    BASE_URL_STAGED: https://api.vistana.com/dcm/v3/staged
    API_KEY: gvvw42j9kjnke8dxuqs9tbke
    ```

    #### QA:
    ```
    BASE_URL: https://api-qa.vistana.com/dcm/v3
    BASE_URL_STAGED: https://api-qa.vistana.com/dcm/v3/staged
    API_KEY: y368m7ube7wmpk6c4a8ntd6d
    ```

    #### QA2:
    ```
    BASE_URL: https://api-qa.vistana.com/dcm/qa2/v3
    BASE_URL_STAGED: https://api-qa.vistana.com/dcm/qa2/v3/staged
    API_KEY: y368m7ube7wmpk6c4a8ntd6d
    ```

    #### Staging:
    ```
    BASE_URL: https://api-qa.vistana.com/dcm/v3/staged
    BASE_URL_STAGED: https://api-qa.vistana.com/dcm/stg/v3/staged
    API_KEY: y368m7ube7wmpk6c4a8ntd6d
    ```

    ## Authentication

    ### Mashery
    For more information on specific service details related to login, registration, and account updates. Please refer to the Vistana Mobile API Documentation. There you will find specific details on how to register your device and retrieve an OAuth token.

    ### Mashery Responses
    Successful authentication to Mashery results in request being forwarded to configured endpoint.  Responses correspond to structures defined below.

    #### __403__: Invalid permissions to endpoint, bad `api_key`:
    ```
    HttpStatus: 403 Forbidden
    POST https://api.vistana.com/dcm/v3/{endpoint}?api_key=[badapikey] HTTP/1.1
    Headers:
      X-Mashery-Error-Code: ERR_403_DEVELOPER_INACTIVE
      Content-Type: text/xml
      X-Mashery-Responder: prod-j-worker-us-east-1b-121.mashery.com
    Body: Developer Inactive
    ```

    #### __403__: Developer Over Queries Per Second
    ```
    HttpStatus: 403 Forbidden
    POST https://api.vistana.com/dcm/v3/{endpoint}?api_key=[apikey] HTTP/1.1
    Headers:
      X-Mashery-Error-Code: ERR_403_DEVELOPER_OVER_QPS
      Content-Type: text/xml
      X-Mashery-Responder: prod-j-worker-us-east-1b-121.mashery.com
    Body: Developer Over Qps
    ```

    #### __596__: Service Not Found
    ```
    HttpStatus: 596
    POST https://api.vistana.com/dcm/v3/{badendpoint}?api_key=[apikey] HTTP/1.1
    Headers:
      X-Mashery-Error-Code: ERR_596_SERVICE_NOT_FOUND
      Content-Type: text/xml
      X-Mashery-Responder: prod-j-worker-us-east-1b-121.mashery.com
    Body: 596 Service Not Found
    ```

    #### __504__: Gateway Timeout
    ```
    HttpStatus: 504
    POST https://api.vistana.com/dcm/v3/{endpoint} HTTP/1.1
    Headers:
      X-Mashery-Error-Code: ERR_504_GATEWAY_TIMEOUT
      Content-Type: text/xml
      X-Mashery-Responder: prod-j-worker-us-east-1b-121.mashery.com
    Body: 504 Gateway Timeout
    ```
  contact:
    name: Michael Waskiewicz
    email: michael.waskiewicz@vistana.com
host: api.vistana.com
basePath: /dcm/v3
schemes:
  - https
securityDefinitions:
  api_key:
    type: apiKey
    name: '{api_key}'
    in: header
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales lobortis quam ac iaculis. Aliquam iaculis semper commodo. Morbi non urna id dui convallis aliquet vitae vitae ipsum. Quisque ut est mollis, facilisis libero finibus, lacinia felis. Nullam fringilla, ante sit amet sollicitudin porttitor, nisl libero tempor odio, nec dapibus lorem nisi blandit dolor. Integer condimentum ligula metus, a sodales ipsum blandit sit amet. In sollicitudin sapien eu orci varius, et cursus eros vehicula. Nullam congue, urna quis consequat ultrices, velit sem facilisis dui, et porta ex velit a arcu. Proin neque felis, cursus vitae dictum non, commodo sed erat. Sed convallis orci at ornare dignissim. Curabitur gravida euismod sodales. Pellentesque id lacinia massa.'
security:
  - OAuth2: []
paths:
  /properties:
    get:
      summary: Properties — All
      description: |
        Returns a full "properties" object.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties
      parameters:
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
        - type: string
          in: header
          name: api_key
          description: ''
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                uniqueItems: true
                minItems: 1
                maxItems: 50
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    name:
                      type: string
                    slug:
                      type: string
                    code:
                      type: string
                    propertyID:
                      type: string
                    propertyIDSun:
                      type: string
                    marshaCode:
                      type: string
                    resourceId:
                      type: string
                    type:
                      type: string
                    brand:
                      $ref: '#/definitions/brand'
                    phoneMain:
                      type: string
                    phoneOwnerServices:
                      type: string
                    phoneFax:
                      type: string
                    checkIn:
                      type: string
                    checkOut:
                      type: string
                    locale:
                      $ref: '#/definitions/locale'
                    sublocale:
                      $ref: '#/definitions/locale'
                    greeting:
                      type: string
                    propertyURL:
                      type: string
                    description:
                      type: string
                    featured:
                      type: boolean
                    address1:
                      type: string
                    address2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                    territory:
                      type: string
                    country:
                      type: string
                    coordinateLongitude:
                      type: string
                    coordinateLatitude:
                      type: string
                    persona:
                      $ref: '#/definitions/persona'
                    facebook:
                      type: string
                    twitter:
                      type: string
                    pinterest:
                      type: string
                    youtube:
                      type: string
                    instagram:
                      type: string
                    tripadvisor:
                      type: string
                    referenceStaff:
                      $ref: '#/definitions/referenceStaff'
                    marriottData:
                      $ref: '#/definitions/marriott'
                    announcements:
                      type: object
                      properties:
                        specialConditions:
                          type: array
                          items:
                            type: object
                            properties:
                              startPeriod:
                                type: string
                              endPeriod:
                                type: string
                              displayFrom:
                                type: string
                              shortDescription:
                                type: string
                              descriptiveText:
                                type: string
                    policies:
                      type: object
                      properties:
                        smokeFree:
                          type: boolean
                        petsAllowed:
                          type: boolean
                        internetPolicy:
                          type: boolean
                        checkInTime:
                          type: string
                        videoBillReview:
                          type: boolean
                        daysFolioAvailableOnline:
                          type: boolean
                        expressCheckIn:
                          type: boolean
                        videoCheckOut:
                          type: boolean
                        checkOutTime:
                          type: string
                        expressCheckOut:
                          type: boolean
                        infoPolicies:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              typeName:
                                type: string
                              description:
                                type: string
                    accessibility:
                      type: object
                      properties:
                        accessibleGuestRoom:
                          type: array
                          items:
                            type: string
                        accessiblePublicSpaces:
                          type: array
                          items:
                            type: string
                    announcementsOverride:
                      type: string
                    policiesOverride:
                      type: string
                    accessibilityOverride:
                      type: string
                    purchaseDisclaimer:
                      type: string
                    termsConditions:
                      type: string
                    lastModified:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
                  required:
                    - nodename
                    - name
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: No Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '206':
          description: Partial Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}':
    get:
      summary: Properties — Single Property
      description: |
        Returns a specific property object.

        **EXAMPLE ENDPOINTS:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv

        https://api.vistana.com/dcm/v1/oauth/properties/code:svv

        https://api.vistana.com/dcm/v1/oauth/properties/15

        https://api.vistana.com/dcm/v1/oauth/properties/propertyIDSun:15

        https://api.vistana.com/dcm/v1/oauth/properties/propertyID:5607

        https://api.vistana.com/dcm/v1/oauth/properties/marshaCode:MCOLS
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the **code** or **propertyIDSun**, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID:5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: boolean
          default: false
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                uniqueItems: true
                minItems: 1
                maxItems: 50
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    name:
                      type: string
                    slug:
                      type: string
                    code:
                      type: string
                    propertyID:
                      type: string
                    propertyIDSun:
                      type: string
                    marshaCode:
                      type: string
                    resourceId:
                      type: string
                    type:
                      type: string
                    brand:
                      $ref: '#/definitions/brand'
                    phoneMain:
                      type: string
                    phoneOwnerServices:
                      type: string
                    phoneFax:
                      type: string
                    checkIn:
                      type: string
                    checkOut:
                      type: string
                    locale:
                      $ref: '#/definitions/locale'
                    sublocale:
                      $ref: '#/definitions/locale'
                    greeting:
                      type: string
                    propertyURL:
                      type: string
                    description:
                      type: string
                    featured:
                      type: boolean
                    address1:
                      type: string
                    address2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                    territory:
                      type: string
                    country:
                      type: string
                    coordinateLongitude:
                      type: string
                    coordinateLatitude:
                      type: string
                    persona:
                      $ref: '#/definitions/persona'
                    facebook:
                      type: string
                    twitter:
                      type: string
                    pinterest:
                      type: string
                    youtube:
                      type: string
                    instagram:
                      type: string
                    tripadvisor:
                      type: string
                    referenceStaff:
                      $ref: '#/definitions/referenceStaff'
                    marriottData:
                      $ref: '#/definitions/marriott'
                    announcements:
                      type: object
                      properties:
                        specialConditions:
                          type: array
                          items:
                            type: object
                            properties:
                              startPeriod:
                                type: string
                              endPeriod:
                                type: string
                              displayFrom:
                                type: string
                              shortDescription:
                                type: string
                              descriptiveText:
                                type: string
                    policies:
                      type: object
                      properties:
                        smokeFree:
                          type: boolean
                        petsAllowed:
                          type: boolean
                        internetPolicy:
                          type: boolean
                        checkInTime:
                          type: string
                        videoBillReview:
                          type: boolean
                        daysFolioAvailableOnline:
                          type: boolean
                        expressCheckIn:
                          type: boolean
                        videoCheckOut:
                          type: boolean
                        checkOutTime:
                          type: string
                        expressCheckOut:
                          type: boolean
                        infoPolicies:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              typeName:
                                type: string
                              description:
                                type: string
                    accessibility:
                      type: object
                      properties:
                        accessibleGuestRoom:
                          type: array
                          items:
                            type: string
                        accessiblePublicSpaces:
                          type: array
                          items:
                            type: string
                    announcementsOverride:
                      type: string
                    policiesOverride:
                      type: string
                    accessibilityOverride:
                      type: string
                    purchaseDisclaimer:
                      type: string
                    termsConditions:
                      type: string
                    lastModified:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
                  required:
                    - nodename
                    - name
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '206':
          description: Partial Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/activities':
    get:
      summary: "Activities —\_All"
      description: |
        Returns an activities list for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/wkorv/activities
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    shortDescription:
                      type: string
                    phone:
                      type: string
                    icon:
                      type: string
                    googlePlaceId:
                      type: string
                    referenceProperty:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        type: string
                    activityType:
                      type: string
                    activityCategories:
                      type: object
                      properties:
                        nodename:
                          type: string
                        name:
                          type: string
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
                    tags:
                      $ref: '#/definitions/ugctags'
                    recommendations:
                      $ref: '#/definitions/recommendations'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: No Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/activities/{nodename}':
    get:
      summary: "Activities —\_Single Activity Detail"
      description: "Returns activity information for a specific property.\n\n**EXAMPLE ENDPOINT:** \n\nhttps://api.vistana.com/dcm/v1/oauth/properties/wkorv/activities/swimming-with-dolphins\n\nhttps://api.vistana.com/dcm/v1/oauth/properties/wkorv/activities/9386dde8-b382-4d90-81c0-2f6cb624e112"
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: path
          name: nodename
          type: string
          required: true
          description: |
            AKA Detail. This parameter gives you the full detail of a specific activity.
            - **Pattern:** `^[-0-9A-Za-z]+$` OR UUID (resourceId)
            - **Case:** Insensitive
            - **Example:** swimming-with-dolphins
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    shortDescription:
                      type: string
                    phone:
                      type: string
                    icon:
                      type: string
                    googlePlaceId:
                      type: string
                    referenceProperty:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        type: string
                    activityType:
                      type: string
                    activityCategories:
                      type: object
                      properties:
                        nodename:
                          type: string
                        name:
                          type: string
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
                    tags:
                      $ref: '#/definitions/ugctags'
                    recommendations:
                      $ref: '#/definitions/recommendations'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/amenities':
    get:
      summary: "Amenities —\_All"
      description: |
        This endpoint will return all amenities for a given property. The response from this endpoint should be cached by the application.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv/amenities
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    shortTitle:
                      type: string
                    icon:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: No Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/amenities/{nodename}':
    get:
      summary: "Amenities —\_Single Amenity Detail"
      description: |
        Returns a specific amenity for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv/amenities/swimming-pool
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: path
          name: nodename
          type: string
          required: true
          description: |
            AKA Detail. This parameter gives you the full detail of a specific amenity.
            - **Pattern:** `^[-0-9A-Za-z]+$`
            - **Case:** Insensitive
            - **Example:** club-pool
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    shortTitle:
                      type: string
                    icon:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/awards':
    get:
      summary: "Awards —\_All"
      description: "Returns all awards for a specific property.\n\n**EXAMPLE ENDPOINT:** \n\nhttps://api.vistana.com/dcm/v1/oauth/properties/svv/awards\n"
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    awardLink:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: No Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/awards/{nodename}':
    get:
      summary: "Awards —\_Single Award Detail"
      description: |
        Returns a specific award for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/SVV/awards/tripadvisor-award
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: path
          name: nodename
          type: string
          required: true
          description: |
            Returns award details for a specific property.
            - **Pattern:** `^[-0-9A-Za-z]+$`
            - **Case:** Insensitive
            - **Example:** international-airport
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    awardLink:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/dining':
    get:
      summary: "Dining —\_All"
      description: |
        Returns all dining objects for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv/dining
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    hours:
                      type: string
                    urlWeb:
                      type: string
                    urlMenu:
                      type: string
                    typeCusine:
                      type: string
                    typeAtmosphere:
                      type: string
                    googlePlaceId:
                      type: string
                    typeOnOffSite:
                      type: string
                    referenceProperty:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        type: string
                    referenceStaff:
                      $ref: '#/definitions/referenceStaff'
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    address1:
                      type: string
                    address2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                    country:
                      type: string
                    territory:
                      type: string
                    coordinateLongitude:
                      type: string
                    coordinateLatitude:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
                    tags:
                      $ref: '#/definitions/ugctags'
                    recommendations:
                      $ref: '#/definitions/recommendations'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: No Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/dining/{nodename}':
    get:
      summary: "Dining —\_Single Dining Detail"
      description: |
        Returns a specific dining object for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/wkorv/dining/pulehu-grill
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: path
          name: nodename
          type: string
          required: true
          description: |
            AKA Detail. This parameter gives you the full detail of a specific
            dining option.
            - **Pattern:** `^[-0-9A-Za-z]+$`
            - **Case:** Insensitive
            - **Example:** hot-dog-heaven
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    hours:
                      type: string
                    urlWeb:
                      type: string
                    urlMenu:
                      type: string
                    typeCusine:
                      type: string
                    typeAtmosphere:
                      type: string
                    googlePlaceId:
                      type: string
                    typeOnOffSite:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    referenceStaff:
                      $ref: '#/definitions/referenceStaff'
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    address1:
                      type: string
                    address2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                    country:
                      type: string
                    territory:
                      type: string
                    coordinateLongitude:
                      type: string
                    coordinateLatitude:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
                    tags:
                      $ref: '#/definitions/ugctags'
                    recommendations:
                      $ref: '#/definitions/recommendations'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/places':
    get:
      summary: "Places —\_All"
      description: |
        Returns all place for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv/places
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    icon:
                      type: string
                    fullAddress:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: ''
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/places/{nodename}':
    get:
      summary: "Places —\_Single Place Detail"
      description: |
        Returns a specific place for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv/places/international-airport
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: path
          name: nodename
          type: string
          required: true
          description: |
            AKA Detail. This parameter gives you the full detail of a specific
            amenity.
            - **Pattern:** `^[-0-9A-Za-z]+$`
            - **Case:** Insensitive
            - **Example:** international-airport
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    icon:
                      type: string
                    fullAddress:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/phases':
    get:
      summary: "Phases —\_All"
      description: |
        Returns all place for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv/phases
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    pacTitle:
                      type: string
                    pacDescription:
                      type: string
                    pacLink:
                      type: string
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: No Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/phases/{nodename}':
    get:
      summary: "Phase —\_Single Phase Detail"
      description: |
        Returns a specific place for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/svv/places/international-airport
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: path
          name: nodename
          type: string
          required: true
          description: |
            AKA Detail. This parameter gives you the full detail of a specific
            amenity.
            - **Pattern:** `^[-0-9A-Za-z]+$`
            - **Case:** Insensitive
            - **Example:** international-airport
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    icon:
                      type: string
                    fullAddress:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/villas':
    get:
      summary: "Villas —\_All"
      description: |
        Returns all villas for a specific property.

        **EXAMPLE ENDPOINT:**

        https://api.vistana.com/dcm/v1/oauth/properties/wkorv/villas
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: limit
          type: string
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
        - in: query
          name: sort
          type: string
          description: 'Use **?sort={fieldName}** when you want to do a data field sort on a result set. This featured only works with non-object data.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    phase:
                      type: string
                    unit:
                      type: string
                    numberOfRooms:
                      type: string
                    squareFootage:
                      type: string
                    sleepingCapacity:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '204':
          description: No Content
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/properties/{propertyid}/villas/{nodename}':
    get:
      summary: "Villas —\_Single Villa Detail"
      description: "Returns specific villa information for a specific property.\n\n**EXAMPLE ENDPOINT:** \n\nhttps://api.vistana.com/dcm/v1/oauth/properties/svv/villas/studio-bedroom\n"
      parameters:
        - in: path
          name: propertyid
          type: string
          required: true
          description: |-
            A "propertyid" can be many things:

            1. A Vistana property code (string): code
            2. A Starwood property id (integer): propertyID
            3. A Sun sysytem id: propertyIDSun
            4. A Marriott MARSHA code: marshaCode

            In the case of the code or propertyIDSun, since these are common, there are convenienecs built in to the API where you only need to use the values: /svv or /15.

            In the case of the propertyID or marshaCode, the syntax for use is /propertyID: 5607 or /marshaCode:MCOLS

            You may also use the specific key value for all queries, /code:svv, /propertyID:5607, /propertyIDSun:15, /marshaCode:MCOLS
        - in: path
          name: nodename
          type: string
          required: true
          description: |
            AKA Detail. This parameter gives you the full detail of a specific villa.
            - **Pattern:** `^[-0-9A-Za-z]+$`
            - **Case:** Insensitive
            - **Example:** two-bedroom-lockoff
        - in: query
          name: metas-only
          type: string
          description: 'Set **?metas-only=true** to get a light response that includes only the response meta info. This is particularly useful for getting an endpoint count without the full data payload.'
        - in: query
          name: list
          type: string
          description: 'Use **?list={fieldName}** when you would like the response to return only the values of a certain field. This is useful when you would like to get a list of, say, article titles for a blog. This featured only works with non-object data.'
      tags:
        - Properties
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    phase:
                      type: string
                    unit:
                      type: string
                    numberOfRooms:
                      type: string
                    squareFootage:
                      type: string
                    sleepingCapacity:
                      type: string
                    referenceProperty:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                      minItems: 1
                    description:
                      type: string
                    featured:
                      type: boolean
                    priority:
                      type: string
                    priorityOverride:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    images:
                      $ref: '#/definitions/images'
                    videos:
                      $ref: '#/definitions/videos'
                    documents:
                      $ref: '#/definitions/documents'
                    gallery:
                      $ref: '#/definitions/galleries'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  /vacation-ideas:
    get:
      summary: "Articles —\_All"
      description: "Returns a full \"vacation ideas\" object.\n\n**EXAMPLE ENDPOINT:** \n\nhttps://api.vistana.com/dcm/v1/oauth/vacation-ideas\n"
      parameters:
        - in: query
          name: limit
          type: integer
          required: false
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
      tags:
        - Vacation Ideas
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
                  type:
                    type: string
                  status:
                    type: integer
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    nodename:
                      type: string
                    resourceId:
                      type: string
                    name:
                      type: string
                    shortDescription:
                      type: string
                    awardLink:
                      type: string
                    openGraphTitle:
                      type: string
                    openGraphDescription:
                      type: string
                    openGraphImage:
                      $ref: '#/definitions/images'
                    twitterTitle:
                      type: string
                    twitterDescription:
                      type: string
                    twitterImage:
                      $ref: '#/definitions/images'
                    tags:
                      $ref: '#/definitions/ugctags'
                    images:
                      $ref: '#/definitions/image'
                    gallery:
                      $ref: '#/definitions/gallery'
          headers:
            Cache-Control:
              type: string
              default: 'public, max-age=86400'
        '404':
          description: Not Found
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
        '500':
          description: Internal Server Error
          headers:
            Cache-Control:
              type: string
              default: 'no-cache, no-store, must-revalidate'
      produces:
        - application/json
  '/vacation-ideas/{tagnodename}':
    get:
      summary: "Articles —\_Single Article OR Articles Tag Search"
      description: "Returns either a tag response OR detail page for vacation ideas.\n\n**EXAMPLE ENDPOINT #1:** \n\nhttps://api.vistana.com/dcm/v1/oauth/vacation-ideas/wkorv,featured\n\n**EXAMPLE ENDPOINT #2:** \n\nhttps://api.vistana.com/dcm/v1/oauth/vacation-ideas/15-words-to-learn-before-visiting-hawaii\n"
      parameters:
        - in: path
          name: tagnodename
          type: string
          required: true
          description: |
            This endpoint accepts a "tag" query. You may query for multiple tags, too, with a comma-delimited list. The tag search performed is an "AND" search. For a full article description, you may hit the detail endpoint for a vacation idea article.
            - **Pattern:** `^[-0-9A-Za-z,]+$`
            - **Case:** Insensitive
            - **Example:** featured,wkorv
            - **Example:** 15-words-to-learn-before-visiting-hawaii
        - in: query
          name: limit
          type: integer
          required: false
          description: 'Set **?limit={integer}** to limit the number of results of a request. This is useful for pagination.'
        - in: query
          name: offset
          type: string
          description: 'Set **?offset={integer}** to get results of a particular page/offset of a request. This is useful for pagination.'
      tags:
        - Vacation Ideas
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              metas:
                type: object
                properties:
                  count:
                    type: integer
                  content:
                    type: string
[...]
